@charset "UTF-8";

.login-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-input-area {
	display: flex;
	align-items:center;
	flex-flow: column;
	gap: 20px 0px;
	margin: 0 5px 0 5px; 
}

.login-logoimage {
	display: block;
	margin : auto; 
	border-radius: 10px;
	margin-top: 100px;
	max-width: 100%;
	caret-color: transparent;
}

.login-password-area {
	position: relative;
}

.login-password-text {
	width: 260px;
	padding-right: 30px;
}

.login-password-eye {
	position: absolute;
	left: 270px;
	top: 8px;
}

.login-password-eye:hover {
	cursor: pointer;
}

.login-password-eye-none {
	display: none;
}

.login-btn {
	margin-top: 10px;
}

.msgArea {
	width: 100%;
	text-align: center;
	color: red;
	margin-top: 25px;
	margin-bottom: 20px;
}

.inputArea {
	display: flex;
	flex-flow: column;
	width: 300px;
}