@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eef4ff;
	font-size: 15px;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	margin: 10px;
}

p {
	margin-bottom: 0px;
}

.btn {
	background-color: #deb936;
	color: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 10px;
	text-align: center;
	height: 40px;
	width: 150px;
	max-width: 100%;
}

.btn:hover {
	cursor: pointer;
	color: #000000;
	opacity: 0.7;
}

.num-txt {
	width: 50px;
	border-radius: 0 !important;
	text-align: center;

}

.num-txt::-webkit-outer-spin-button,
.num-txt::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.num-btn-up {
	width: 30px;
	outline: 1px solid #c3c3c3;
	border-radius: 0 10px 10px 0;
	caret-color: transparent;
}

.num-btn-down {
	width: 30px;
	outline: 1px solid #c3c3c3;
	border-radius: 10px 0 0 10px;
	margin-left: 10px;
	caret-color: transparent;
}

.textbox {
	border-radius: 10px;
	border: 0;
	outline: 1px solid #c3c3c3;
	height: 40px;
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.textbox:hover {
	border-color: #696969;

}

.header-area {
	display: flex;
	justify-content: space-between;
}


.header-home {
	display: flex;
	justify-content: flex-start;
}

.header-logout {
	display: flex;
	justify-content: flex-end;
}


.home-btn {
	background: none;
	border: 0;
}

.home-img {
	width: 48px;
	height: 48px;
	caret-color: transparent;
}

.home-img:hover {
	opacity: 0.6;
	cursor: pointer;
}

.logout-btn {
	background: none;
	border: 0;
}

.logout-img {
	width: 48px;
	height: 48px;
	caret-color: transparent;
}

.logout-img:hover {
	opacity: 0.6;
	cursor: pointer;
}

.validmsg {
	color: red;
}

.pagination-area {
	text-align: center;
}

.pagination-box {
	display: inline;
	padding: 5px;
}