@charset "UTF-8";

.search-cond-area {
  display: flex;
  flex-wrap: wrap;
}

.search-cond-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}

.search-cond-item-str {
  width: 150px;
  margin-left: 10px;
}

.search-cond-range {
  margin-left: 10px;
}

.search-btn {
  margin-left: 10px;
}

.search-result-area {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody th,
tbody td {
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

thead th {
  color: #666;
  background: #D3D3D3;
  position: sticky;
  top: 0;
}

tbody th {
  color: #666;
  background: #eee;
  position: sticky;
  top: 0;
}

@media (max-width: 600px) {
  .search-cond-title {
    min-width: 130px;
  }
  
  .heading {
    display: none;
  }
  
  thead tr {
	display: none;
  }

  tbody th:nth-child(1),
  tbody td:nth-child(2) {
    border-top: 1px solid #ddd;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-label);
    color: #666;
    display: block;
    margin-bottom: 0.25rem;
    text-align: left;
  }
}