@charset "UTF-8";

.top-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-input-area {
	display: flex;
	align-items:center;
	flex-flow: column;
}

.search-title {
	font-size: 20px;
	font-weight: bold;
	text-decoration:underline;	
}

.search-btn {
	margin-top: 50px;
}