<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    	<title>ログイン</title>
    	<link th:href="@{/css/main.css}" rel="stylesheet">
    	<link th:href="@{/css/login.css}" rel="stylesheet">

    	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    	<script th:src="@{/js/main.js}"></script>
    	<script th:src="@{/js/login.js}"></script>
    </head>
    <body>
		<div id="header" th:replace="~{fragment/Header :: header}"></div>

		<div>
        	<img class="login-logoimage" th:src="@{/image/loginLogo.png}">
		</div>
		
		<div class="msgArea">
			<span th:if="${loginResponse != null}" th:text="${loginResponse.msg}"></span>
		</div>
        
        <form id="formLogin" method="post" th:action="@{/login}" th:object="${loginRequest}">
        	<div class="login-input-area">
				<div class="inputArea">
					<input class="textbox" type="email" placeholder="メールアドレス" th:field="*{mailaddress}">
					<span class="validmsg" th:errors="*{mailaddress}"></span>
				</div>
				<div class="inputArea">
					<div class="login-password-area">
						<input class="textbox login-password-text" type="password" placeholder="パスワード" th:field="*{password}">
						<img id="eye-open" class="login-password-eye login-password-eye-none" th:src="@{/image/eye-open.png}">
						<img id="eye-close" class="login-password-eye" th:src="@{/image/eye-close.png}">
					</div>
					<span class="validmsg" th:errors="*{password}"></span>
				</div>
				<div class="">
					<button class="btn login-btn" type="button">ログイン</button>	
				</div>
	        </div>
        </form>
	</body>
</html>