<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    	<title>検索</title>
    	<link th:href="@{/css/main.css}" rel="stylesheet">
    	<link th:href="@{/css/search.css}" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    	<script th:src="@{/js/main.js}"></script>
    	<script th:src="@{/js/search.js}"></script>
    </head>
    <body>
		<div class="header-area">
			<div class="header-home">
				<form id="formLogout" th:action="@{/top}" method="get">
					<button class="home-btn">
		        		<img class="home-img" th:src="@{/image/home.svg}">
					</button>
				</form>
			</div>

			<div class="header-logout">
				<form id="formLogout" th:action="@{/login}" method="get">
					<button class="logout-btn">
		        		<img class="logout-img" th:src="@{/image/logout.svg}">
					</button>
				</form>
			</div>
		</div>

		<div class="search-area">
			<p>検索条件</p>

			<form id="formSearch" method="get" th:action="@{/search}" th:object="${searchRequest}">
		        <div class="search-cond-area">
					<div class="search-cond-item">
						<span class="search-cond-title">メールアドレス</span>
						<input class="textbox search-cond-item-str" type="email" placeholder="メールアドレス" th:field="*{mailaddress}">
					</div>
	
					<div class="search-cond-item">
						<span class="search-cond-title">氏名</span>
						<input class="textbox search-cond-item-str" type="email" placeholder="氏名" th:field="*{name}">
					</div>
	
					<div class="search-cond-item">
						<span class="search-cond-title">年齢</span>
						<button class="btn num-btn-down age-start-down" type="button" tabindex="-1">－</button>
						<input class="textbox num-txt age-start" type="number" placeholder="下限" value="18" min="0" max="999" maxlength="3" th:field="*{ageLower}">
						<button class="btn num-btn-up age-start-up" type="button" tabindex="-1">＋</button>
						
						<span class="search-cond-range">～</span>
	
						<button class="btn num-btn-down age-end-down" type="button" tabindex="-1">－</button>
						<input class="textbox num-txt age-end" type="number" placeholder="上限" value="18" min="0" max="999" maxlength="3" th:field="*{ageUpper}">
						<button class="btn num-btn-up age-end-up" type="button" tabindex="-1">＋</button>
					</div>
					
					<div class="search-cond-item">
						<span class="search-cond-title"></span>
						<button class="btn search-btn" type="button">検索</button>
					</div>
		        </div>
	        
		        <p th:text="'全' + ${pagination.getTotalElements() + '件'}"></p>
	        
		        <div class="search-result-area">
					<table>
						<thead>
							<tr>
								<th>氏名</th>
								<th>メールアドレス</th>
								<th>生年月日</th>
								<th>年齢</th>
								<th>登録年月日</th>
								<th>ステータス</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user:${searchUsers}" th:object="${user}">
								<th th:text="*{userModel.name}"></th>
								<td data-label="メールアドレス" th:text="*{userModel.mailaddress}"></td>
								<td data-label="生年月日" th:text="*{#dates.format(userModel.birthday, 'yyyy/MM/dd')}"></td>
								<td data-label="年齢" th:text="*{age} + '歳'"></td>
								<td data-label="登録年月日" th:text="*{#dates.format(userModel.createdate, 'yyyy/MM/dd')}"></td>
								<td data-label="ステータス" th:text="*{userModel.deleteflg == true ? '有効' : '無効'}"></td>
							</tr>
						</tbody>
					</table>

					<div th:fragment='paginationbar' th:object="${searchRequest}">
						<ul class="pagination-area">
							<li th:classappend="pagination-box" th:class="${pagination.first} ? 'disabled':''">
								<span th:if="${pagination.first}">&lt;&lt;</span>
								<a th:if="${not pagination.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
							</li>
							<li th:classappend="pagination-box" th:each='i : ${pageInfo.sequence(pagination, 5)}' th:class="(${i} == ${pagination.number})? 'active' : ''">
								<span th:if='${i} == ${pagination.number}' th:text='${i+1}'>1</span>
								<a th:if='${i} != ${pagination.number}' th:href="@{${url}(page=${i}, mailaddress=*{mailaddress}, name=*{name}, ageLower=*{ageLower}, ageUpper=*{ageUpper})}">
									<span th:text='${i+1}'>1</span>
								</a>
							</li>
							<li th:classappend="pagination-box" th:class="${pagination.last} ? 'disabled':''">
								<span th:if="${pagination.last}">&gt;&gt;</span>
								<a th:if="${not pagination.last}" th:href="@{${url}(page=(${pagination.totalPages}-1))}">&gt;&gt;</a>
							</li>
						</ul>
					</div>
		        </div>
			</form>
        </div>
	</body>
</html>