<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    	<title>トップ</title>
    	<link th:href="@{/css/main.css}" rel="stylesheet">
    	<link th:href="@{/css/top.css}" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    	<script th:src="@{/js/main.js}"></script>
    	<script th:src="@{/js/top.js}"></script>
    </head>
    <body>
		<div class="header-area">
			<div class="header-home"></div>
			<div class="header-logout">
				<form id="formLogout" th:action="@{/login}" method="get">
					<button class="logout-btn">
		        		<img class="logout-img" th:src="@{/image/logout.svg}">
					</button>
				</form>
			</div>
		</div>

		<div class="top-area">
	        <div class="search-input-area">
				<p class="search-title">ようこそ！Yaz Study Siteへ！</p>
				<form id="formTop" th:action="@{/search}" method="get">
					<button class="btn search-btn" type="button">検索画面へ</button>
				</form>
	        </div>
        </div>
	</body>
</html>